* {
  margin: 0;
  padding: 0;
  content: border-box;
}

/* COLORS USED*/
:root {
  --color-primary: #191d2b;
  --color-secondary: #e0ba4f;
  --color-menus: #142b57;
  --color-hover: #e3c285;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 0.875rem;
  --box-shadow-1: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
}
.light-mode {
  --color-primary: #f7fbf3;
  --color-secondary: #6685f5;
  --color-hover: #3f68fe;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f2eaea;
  --color-grey-6: #12181b;
}

body {
  background-color: var(--color-black);
}

/* HEADER */
.header {
  background-color: var(--color-menus);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header .menu-bar {
  color: var(--color-white);
  padding: 1rem;
  display: flex;
}
.header .menu-bar .logo a {
  display: flex;
  text-decoration: none;
  color: var(--color-white);
}
.header .menu-bar .logo img {
  width: 5%;
  padding-right: 1rem;
}
.header .menu-bar .logo p {
  margin-top: 1.35%;
}
/* MENU BAR LINKS  */
.header .menu-bar .links {
  margin-top: 0.8%;
  margin-left: -30%;
}
.header .menu-bar .links a {
  padding-right: 2.5rem;
  text-decoration: none;
  color: var(--color-white);
}
.header .menu-bar .links a:hover {
  text-decoration: underline;
  transition-delay: 1s;
}

/* DARK-MODE */

/* FOOTER */
footer {
  background-color: var(--color-menus);
  padding: 2rem;
}
.footer-up {
  display: flex;
}
/* FOOTER LOGO */
.footer .logo img {
  width: 20%;
}

/* FOOTER LIST */
.footer-up ul{
list-style: none;
}

/* FOOTER LINKS */
.footer .address{
  margin-left: -25rem;
  margin-right: 10rem;
}
.footer .address p{
  color: var(--color-white);
}

/* FOOTER LINKS */
.footer .links{
  margin-right: 10rem;
}
.footer .links a{
  color: var(--color-white);
  text-decoration: none;
}

/* SOCIALS */
.footer .socials{
  margin-right: 10rem;
}
.footer .socials a{
  color: var(--color-white);
  text-decoration: none;
}
.footer .socials i{
  width: 10%;
  margin-right: 1rem;
}

/*  HR TAG AND COPYRIGHT*/
hr {
  margin: 1rem 0rem;
}
.copyright {
  color: var(--color-white);
  text-align: center;
}

/* BACK TO TOP */

/*--------------------------------------------------------------------- HOME PAGE -----------------------------------------------------------------  */
.recruitments {
  color: var(--color-white);
  margin: 2rem 0rem;
}
.recruitments h1 {
  text-align: center;
}
.recruitments p {
  margin: 0% 20%;
  text-align: center;
}
.recruitments a {
  margin-left: 46%;
}
.recruitments button {
  padding: 1rem;
  border-radius: 2rem;
}
.membership {
  color: var(--color-white);
  margin: 2rem 0rem;
}
.membership h1 {
  text-align: center;
}
.membership p {
  margin: 0% 20%;
  text-align: center;
}
.membership a {
  margin-left: 46%;
}
.membership button {
  padding: 1rem;
  border-radius: 2rem;
}
*--------------------------------------------------------------------- HOME PAGE -----------------------------------------------------------------  */ ;
